

.main
  .main__top
    .main__top__group
      %h2.groupname 
        = @group.name
      = link_to edit_group_path(@group.id), class:"btn" do
        %h2 Edit
    .main__top__member
      %h2.member
        - @group.users.each do |user|
          #{user.name}
    
  .messages
    = render @messages


  .content
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'text', placeholder: 'type a message'
      = f.label :image, class: 'image' do
        = icon('fas', 'image', class: 'i')
        = f.file_field :image, class: 'file'
      = f.submit 'Send', class: 'btn'

