.sidebar
  .sidebar__top
    .sidebar__top__item
      .sidebar__top__item__user 
        = current_user.name

      .sidebar__top__item__icon 
        .sidebar__top__item__icon__edit 
        = link_to new_group_path, class:"icon" do
          %i.far.fa-edit  
        = link_to edit_user_path(current_user), class:"icon" do
          %i.fas.fa-cog  
  
  .sidebar__grouplist
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          %h2.title
            = group.name
          %h2.text
            = group.show_last_message
